extends ./layout/index 

block contenido
    main.container.mt-5     
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina} 
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis ex nec maximus dictum. Etiam at turpis ante. Donec nisl mauris, fermentum semper libero a, rhoncus bibendum orci. Maecenas euismod maximus est. Nam faucibus vehicula turpis quis fermentum. 

                p nulla eros, euismod ut velit et, varius posuere nibh. Nullam molestie cursus arcu vitae tincidunt. Curabitur fringilla congue enim non faucibus. Vivamus et vestibulum arcu, eget euismod tortor. Maecenas nec tristique lectus. Maecenas dapibus erat viverra scelerisque placerat. 

                p sed molestie nisl. Etiam nec varius felis, sed pharetra dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean maximus auctor ipsum, a cursus felis sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
    
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row    
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean maximus auctor ipsum, a cursus felis sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos 
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean maximus auctor ipsum, a cursus felis sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    
                .col-md-4   
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean maximus auctor ipsum, a cursus felis sodales ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.